body {
  font-size: 0.9em;
  line-height: 1.6;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0;
  background-color: #B7CFEA;;
}

a { text-decoration: none; }
a:hover, a:focus { text-decoration: underline;  }

#header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #f00;
  padding: 0.25em 1em;
  background: #fff;
}

#header h1 {
  font-size: 1.4em;
}

#header > * {
  margin: 0;
}

#sidebar {
  width: 12em;
  float: left;
}

#sidebar > div {
  border-bottom: 1px solid #e1e1e1;
  padding: 0.25em;
}

#sidebar p {
  margin-top: 0;
}

#sidebar p:last-child {
  margin-bottom: 0;
}

#sidebar > div:first-child {
  border-bottom-width: 3px;
}

#sidebar > *:last-child { border-bottom: none; }

#sidebar label {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar, #main {
  margin: 1em;
  padding: 0;
  border: 1px solid #929292;
  border-radius: 5px;
  background-color: #fff;
}

#main {
  margin-left: 14em;
  padding-bottom: 0;
}

table { border-collapse: collapse; width: 100%; }

th, td {
  padding: 0.25em 1em 0.25em 1em;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th {
  padding-right: 2em;
  border-bottom-width: 3px;
}

tbody tr:hover { background-color: #ffa; }

th:hover, th:active {
  background-color: #eee;
  border-bottom-color: red;
  cursor: pointer;
}

th.sort-asc, th.sort-desc {
  border-bottom-color: red;
}

th.sort-asc::after, th.sort-desc::after {
  position: absolute;
  margin-left: 0.5em;
}

th.sort-asc::after { content: "▼"; }
th.sort-desc::after { content: "▲"; }

*, tr, td { box-sizing: border-box; }

tr[data-open=false] { background-color: #eee; }

tr[data-priority="1"] > td:first-child::before{ content: "»"; color: red; position: absolute; margin-left: -.8em; pointer-events: none; }
tr[data-priority="2"] > td:first-child::before{ content: "›"; color: green; position: absolute; margin-left: -.8em; pointer-events: none; }
tr[data-priority="3"] > td:first-child::before{ content: " "; color: blue; position: absolute; margin-left: -.8em; pointer-events: none; }
tr[data-priority="X"] > td:first-child::before{ content: "✕"; color: black; position: absolute; margin-left: -.8em; pointer-events: none; }
tr[data-priority="untriaged"] > td:first-child::before{ content: "?"; color: black; position: absolute; margin-left: -.8em; pointer-events: none; }

th:last-child { width: 7em; }

tbody tr:last-child td { border-bottom: none; }
