/* Global */

body {
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
  color: #222;
  background-color: #c9eaff;
  margin: 0;
}

button {
  font-family: sans-serif;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

.oneline {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
}

/* Header */

#header {
  background-color: #fff;
  padding: 0.65em 1em 0.5em;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

#header h1 {
  font-size: 1.4em;
  margin: 0;
}

/* Sorting Bar */

#sort-bar {
  margin: 2em 0 1em;
  padding: 1em 0.75em .25em;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  background-color: #F5EFDF;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}

#sort-bar > * {
  margin-bottom: 0.5em;
}

#sort-bar input[type="checkbox"] {
  vertical-align: top;
}

.filter-text {
  flex-basis: 100%;
  padding: 3px;
  font-size: 1em;
}

.filter-priorities label {
  display: inline-block;
}

button.as-text {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

button.as-text:hover {
  text-decoration: underline;
}

button.as-text::-moz-focus-inner {
  padding: 0;
  border: none;
}

button.active {
  font-weight: bold;
}

/* Network messages */

.loading, .loading-error, .no-bugs {
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  background-color: white;
}

.loading {
  animation: pulse 1s ease-in-out alternate infinite;
}

@keyframes pulse {
  0% { opacity: .5; }
  100% { opacity: 1; }
}

.loading-error {
  color: red;
}


/* Bug List */

.bugs {
  margin: 0 auto 5em;
  padding: 0 1em;
  max-width: 60em;
}

.bug {
  margin: 0.5em 0;
  padding: 0.25em 1em 0.5em 1.75em;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.bug[data-open="False"] {
  background-color: #eee;
}

.bug:hover {
  background-color: #ffd;
}

.bug-header, .bug-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  color: #888;
}

.bug-body {
  line-height: 1.3;
  margin-top: 0.25em;
}

.bugs li:last-child .bug {
  border-bottom-width: 1px;
}

.bug-id {
  font-size: 0.75rem;
  padding-left: 1em;
}

a.bug-id:link {
  color:#0097CC;
}

a.bug-id:visited {
  color:#707172;
}

.bug-summary {
  font-weight: bold;
  color: black;
}

/* Bug Status Banners */

.bug-summary::before {
  font-weight: bold;
  font-size: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: .25em;
  display: inline-block;
  padding: 1px .5rem 2px;
  margin: 2px .55rem 2px 0;
  vertical-align: middle;
}

.bug[data-status="Assigned"]   .bug-summary::before {
  background-color: #8fd180; color: black; content: "Assigned"
}

.bug[data-status="Fixed"]      .bug-summary::before {
  background-color: #08f; color: white; content: "Fixed"
}

.bug[data-status="WorksForMe"] .bug-summary::before {
  background-color: #80f; color: white; content: "WorksForMe"
}

.bug[data-status="Duplicate"]  .bug-summary::before {
  background-color: #fff; color: black; content: "Duplicate"
}

.bug[data-status="Invalid"]    .bug-summary::before {
  background-color: #ff0; color: black; content: "Invalid"
}

.bug[data-status="Incomplete"] .bug-summary::before {
  background-color: #f00; color: white; content: "Incomplete"
}

.bug[data-status="WontFix"]    .bug-summary::before {
  background-color: #555; color: white; content: "WontFix"
}

/* Bug Priority Markers */

.bug-body { position: relative; }

.bug[data-priority="P1"] .bug-body::before,
.bug[data-priority="P2"] .bug-body::before,
.bug[data-priority="P3"] .bug-body::before,
.bug[data-priority="PX"] .bug-body::before,
.bug[data-priority="Untriaged"] .bug-body::before {
  position: absolute;
  pointer-events: none;
}

.bug[data-priority="P1"] .bug-body::before        { content: "»"; color: #d81c1c; font-size: 1.2rem; top: -0.30rem; left: -1.00rem; }
.bug[data-priority="P2"] .bug-body::before        { content: "›"; color: #e47d0a; font-size: 1.2rem; top: -0.25rem; left: -0.9rem; }
.bug[data-priority="PX"] .bug-body::before        { content: "✕"; color: #639BBA; font-size: 1.0rem; top: 0;        left: -0.95rem; }
.bug[data-priority="Untriaged"] .bug-body::before { content: "?"; color: #AC8AC8; font-size: 0.8rem; top: 0.05rem; left: -0.95rem; }

.priority-filter-p1::before        { content: "» "; color: #d81c1c; }
.priority-filter-p2::before        { content: "› "; color: #e47d0a; }
.priority-filter-p3::before        { content: "\2004 "; color: #000; }
.priority-filter-px::before        { content: "✕ "; color: #639bba; }
.priority-filter-untriaged::before { content: "? "; color: #ac8ac8; }
