/* Global */

body {
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #b7cfea;
  margin: 0;
}

a:link, a:visited, a:hover, a:active { text-decoration: none; }
a:hover, a:focus { text-decoration: underline; }

.oneline {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ul { list-style-type: none; padding: 0; }

/* Header */

#header {
  background-color: #fff;
  border-bottom: 1px solid red;
  padding: 0.25em 1em;
}

#header h1 {
  font-size: 1.4em;
  margin: 0;
}

/* Sorting Bar */

#sort-bar {
  text-align: right;
  margin-top: 1em;
  padding: 0 0.4em;
}

/* Bug List */

#bugs {
  margin: 0 auto 5em;
  max-width: 40em;
}

.bug {
  padding: 0.25em 0.4em;
  border: 1px solid #999;
  border-bottom-width: 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.bug[data-open="False"] {
  background-color: #eee;
}

.bug:hover {
  background-color: #ffd;
}

.bug-header, .bug-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

#bugs li:last-child .bug {
  border-bottom-width: 1px;
}

.bug-footer, .bug-header {
  color: #333;
}

.bug[data-open="False"]::after {
  content: attr(data-status);
  width: 13em; padding: 3px 0 3px 3em;
  position: absolute; right: -3.5em; top: 3em;
  transform: rotate(45deg);
  background-color: transparent; color: transparent; font-weight: bold; font-size: .75rem;
  text-align: left;
  border: 1px solid transparent;
}

.bug[data-status="Fixed"]::after      { background-color: #08f; color: white; border-color: black; }
.bug[data-status="WorksForMe"]::after { background-color: #80f; color: white; border-color: black; }
.bug[data-status="Duplicate"]::after  { background-color: #fff; color: black; border-color: black; }

.bug[data-status="Invalid"]::after    { background-color: #ff0; color: black; border-color: black; }
.bug[data-status="Incomplete"]::after { background-color: #f00; color: white; border-color: black; }

.bug[data-status="WontFix"]::after    { background-color: #555; color: white; border-color: black; }
